/*------------------------------------------*\
    $BUTTONS
\*------------------------------------------*/

.button {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
  line-height: 1;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 12px 15px;
  font-weight: normal;
  outline: none;
}

.button .fa {
  margin: 0px 5px;
  vertical-align: middle;
}

.button-primary {
  background: #55BF7A;
  color: #fff;
}

.button-secondary {
  background: #354ABF;
  border-color: #354ABF;
  color: #fff;
}

.button-error {
  border-color: #DD4747;
  background: #DD4747;
  color: #fff;
}

.button:hover {
  opacity: .9;
}

.button-sm {
  padding: 8px 15px;
  font-size: 14px;
  font-size: 14px;
}

.button-sm .fa {
  font-size: 14px;
}

.button-wrap .button {
  margin-bottom: 15px;
  width: 100%;
  padding: 12px 5px;
}

.button-wrap .box .button:last-child {
  margin-bottom: 0px;
}

.button-wrap .box {
  margin-bottom: 20px;
}

@media (min-width:600px)  {
  .button-wrap .button {
    width: auto;
  }
}