/*------------------------------------------*\
    $BUTTONS
\*------------------------------------------*/

.button {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
  line-height: 1;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 12px 10px;
  font-weight: normal;
  outline: none;
  min-width: 90px;
}

.button-link {
  background: transparent;
  color: #364F6B;
  padding: 8px 15px;
  font-size: 14px;
  font-size: 14px;
  border: 1px solid #364F6B;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.button-link:hover {
  background: #364F6B;
  color: #fff;
}

.button-link .fa {
  margin: 0 3px;
}

.button .fa {
  margin: 0px 5px;
  vertical-align: middle;
}

.button-primary {
  background: #364F6B;
  color: #fff;
}

.button-secondary {
  background: #E87622;
  border-color: #E87622;
  color: #fff;
}

.button-error {
  border-color: #E87622;
  background: #E87622;
  color: #fff;
}

.button:hover {
  opacity: .9;
}

.button-sm {
  padding: 8px 15px;
  font-size: 14px;
  font-size: 14px;
}

.button-sm .fa {
  font-size: 14px;
}

.button-wrap .button {
  margin-bottom: 15px;
  width: 100%;
  padding: 12px 5px;
}

.button-wrap .box .button:last-child {
  margin-bottom: 0px;
}

.button-wrap .box {
  margin-bottom: 20px;
}

@media (min-width:600px)  {
  .button-wrap .button {
    width: auto;
  }
}