/*------------------------------------*\
    $COMPONETS
\*------------------------------------*/

/*------- BOX -------*/


.box {
  -webkit-box-shadow: 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px #ccc;
  -ms-box-shadow: 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 4px;
  background: #fff;
}

.box-title {
  width: 100%;
  padding: 15px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  margin: 0px;
  border-bottom: 1px solid #E0E0E0;
}

.box-title .fa {
  font-size: 20px;
  margin-right: 10px;
  text-align: center;
}

.box-buttons {
  padding: 15px;
}

.box .button {
  width: 100%;
}

/*------- LITS -------*/

ul {
  padding-left: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.short-wrap {
  max-width: 580px;
  margin: 0 auto;
}

.element-list {
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px #ccc;
  -ms-box-shadow: 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px #ccc;
}

.element-item {
  padding: 10px 0px 10px 5px;
  border-bottom: 1px solid #f1f1f1;
}

.element-item .element-name a span {
  display: inline-block;
  padding-right: 3px;
}

.element-item .element-name span {
  display: block;
}

.element-item:first-child {
  padding-top: 0px;
}

.element-item:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

.element-item .element-name {
  color: #000;
  display: block;
  vertical-align: middle;
  width: 100%;
}

.element-item .button {
  text-transform: capitalize;
  width: 25%;
  margin-top: 10px;
  min-width: 100px;
  padding: 8px 10px;
}

.action-group {
  margin-top: 10px;
  text-align: right;
}

@media (min-width:680px) {
  .element-item .element-name {
    width: 61%;
    display: inline-block;
    vertical-align: middle;
  }
  .element-item .button {
    width: 16%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
}

/*------- MODALS -------*/

.modal-title {
  margin-bottom: 10px;
}

.modal-content {
  margin-bottom: 10px;
} 



