/*------------------------------------*\
    $COMPONETS
\*------------------------------------*/

/*------- BOX -------*/


.box {
  border: 1px solid #E0E0E0;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  border-radius: 4px;
}

.box-title {
  width: 100%;
  background: #f1f1f1;
  padding: 15px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  margin: 0px;
  border-bottom: 1px solid #E0E0E0;
}

.box-title .fa {
  font-size: 20px;
  margin-right: 10px;
  text-align: center;
}

.box-buttons {
  padding: 15px;
}

.box .button {
  width: 100%;
}

/*------- LITS -------*/

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

.element-item {
  padding: 10px 0px 10px 5px;
  border-bottom: 1px solid #f1f1f1;
}

.element-item .element-name {
  color: #000;
  display: block;
  vertical-align: middle;
  width: 100%;
}

.element-item .button {
  text-transform: capitalize;
  width: 25%;
  margin-top: 10px;
  min-width: 100px;
  padding: 8px 10px;
}

@media (min-width:680px) {
  .element-item .element-name {
    width: 66%;
    display: inline-block;
    vertical-align: middle;
  }
  .element-item .button {
    width: 16%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
}

/*------- MODALS -------*/

.modal-title {
  margin-bottom: 10px;
}

.modal-content {
  margin-bottom: 10px;
} 



