/*FORMS*/

form {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

button,
input,
textarea{
  -webkit-appearance: none;
  border-radius: 0;
}

button[disabled],
input[disabled] {
  cursor: default;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}


.basic-form {
  padding: 30px;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  border-radius: 3px;
  width: 400px;
  margin: 0px auto;
  position: relative;
}

.basic-form .field {
  margin-bottom: 20px;
}

.basic-form input {
  border: 2px solid #f1f1f1;
  background: #fff;
  padding: 12px;
  width: 100%;
  display: block;
  border-radius: 3px;
  outline: none;
}
  

.basic-form button {
  outline: none;
  float: right;
}

.basic-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
