/*------------------------------------------*\
    $FORMS
\*------------------------------------------*/

form {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

button,
input,
textarea{
  -webkit-appearance: none;
  border-radius: 0;
}

button[disabled],
input[disabled] {
  cursor: default;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}


.basic-form {
  padding: 20px;
  border: 1px solid #E0E0E0;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  border-radius: 4px;
  position: relative;
  margin-top: 20px;
  width: 100%;
}

.basic-form.short {
  width: 400px;
}

.basic-form .field {
  margin-bottom: 20px;
}

.basic-form input {
  border: 1px solid #E0E0E0;
  background: #fff;
  padding: 12px;
  width: 100%;
  display: block;
  border-radius: 4px;
  outline: none;
  color: #797979;
}

.basic-form .input-group input {
  margin-bottom: 20px;
}

.basic-form .input-group p {
  margin-bottom: 10px;
}

.input-group.half-width .field {
  width: 50%;
  display: inline-block;
}

.input-group.half-width .field:nth-child(2n+1) {
  padding-right: 10px;
}

::-webkit-input-placeholder {
  color: #c7c7c7;
  font-style: italic;
  font-weight: 100;
}

::-moz-placeholder {
  color: #c7c7c7;
  font-style: italic;
  font-weight: 100;
}

:-ms-input-placeholder {
  color: #c7c7c7;
  font-style: italic;
  font-weight: 100;
}

.basic-form button {
  width: 49%;
  margin-right: 1%;
}

.basic-form button:last-child {
  margin-right: 0;
}

.basic-form.short button {
  outline: none;
  width: 49%;
}

.basic-form .button-group {
  text-align: right;
  border-top: 1px solid #E0E0E0;
  padding-top: 20px;
}

.basic-form .button-field {
  text-align:right;
}

.basic-form button + button {
  margin-left: 1%;
}

.basic-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}


@media screen and (min-width:600px)and (max-width:900px) {
  .basic-form button {
    width: 32.9%;
    margin-right: 2px;
  }
}

@media screen and (min-width:900px) {
  .basic-form {
    padding: 25px;
  }
  .basic-form button {
    width: 16%;
    margin-right: 2px;
  }
}