/*------------------------------------------*\
    $GRID
\*------------------------------------------*/

.g {
  font-size: 0;
}

.g > * {
  font-size: 16px;
}

.gi {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

@media (min-width:600px) {
  .gi {
    width: auto;
  }
  .one-half {
    width: 50%;
  }
  .one-third {
    width: 33.3%;
  }
  .one-quarter {
    width: 25%;
  }
  .one-fifth {
    width: 20%;
  }
  .gutter {
    padding-right: 10px;
  }
}