/*------------------------------------------*\
    $HEADINGS
\*------------------------------------------*/

.section-title {
  font-size: 24px;
  font-weight: bold;
}

.section-title.form-title {
  max-width: 400px;
}

.alpha {
  font-size: 30px;
}

.beta {
  font-size: 26px;
}

.gamma {
  font-size: 22px;
}