/*------------------------------------------*\
    $HEADINGS
\*------------------------------------------*/

.section-title {
  font-size: 18px;
  font-weight: bold;
}

.form-title.beta {
  max-width: 400px;
}

.alpha {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
}

.beta {
  font-size: 26px;
  font-weight: bold;
}

.gamma {
  font-size: 22px;
  font-weight: bold;
}