html, body {
	margin: 0;
	padding: 0;
  font-family: 'Oxygen', sans-serif;
  background: #f1f1f1;
}
* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.transition-wrapper {
	position: relative;
}

.component {
  position: absolute;
  width: 100%;
}

.loading-message {
  position: absolute;
}

.clearfix {
	display: inline-block;
}

.clearfix:after {
	content: " ";
	clear: both;
	height: 0;
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  width: 96%;
  position: relative;
}

.main-content {
  padding-bottom: 40px;
}

.f-right {
  float: right;
}