html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

a {
	color: #00ADB5;
	text-decoration: none;
}
a:hover {
	opacity: .8;
}

* {
  box-sizing: border-box;
}

#root {
	margin: 33px;
}
.link {
	padding: 8px 11px;
	margin-bottom: 11px;
	font-weight: 500;
	color: #333;
	display: inline-block;
}
.link.active {
	background-color: rgba(0, 0, 0, 0.2);
	color: #fafafa;
}
.transition-wrapper {
	position: relative;

}
.component{
	position: absolute;
}

.loading-message {
  position: absolute;
}

.clearfix {
	display: inline-block;
}

.clearfix:after {
	content: " ";
	clear: both;
	height: 0;
}

/*FORMS*/

form {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

button,
input,
textarea{
  -webkit-appearance: none;
  border-radius: 0;
}

button[disabled],
input[disabled] {
  cursor: default;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}


.basic-form {
	padding: 30px;
	border: 1px solid #f1f1f1;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	-ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	border-radius: 3px;
	width: 400px;
	margin: 0px auto;
}

.basic-form .field {
	margin-bottom: 20px;
}

.basic-form input {
	border: 2px solid #f1f1f1;
	background: #fff;
	padding: 12px;
	width: 100%;
	display: block;
	border-radius: 3px;
	outline: none;
}

.basic-form label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.basic-form button {
	outline: none;
	float: right;
}

/*BUTTONS*/

.button {
	display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 12px 15px;
}

.button-primary {
	background: #00ADB5;
	color: #fff;
}

.button-primary:hover {
	opacity: .8;
}

/*HEADINGS*/

.section-title {
	font-size: 24px;
	font-weight: bold;
}
